<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/css/homes.css">
        <title>Homes</title>
    </head>
    <body>
        <div>
            <nav>
                <a th:href="@{/}">Back to home</a>
                <h1>Our houses</h1>
            </nav>
        </div>

        <div class="homes-container">
            <div th:each="home : ${homes}" class="card">
                <h3 th:text="${home.address}"></h3>
                <p>Address: <span th:text="${home.address}"></span></p>
                <p>Type: <span th:text="${home.type}"></span></p>
                <p>Description: <span th:text="${home.description}"></span></p>
                <p>Rental price: <span th:text="${home.rentalPrice}"></span> €/month</p>
            </div>
        </div>

    </body>
</html>
