<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/css/details.css">
        <title>Contract Page</title>
    </head>

    <body>
        <div class="container">
            <div>
                <nav>
                    <a class="back-button" th:href="@{/admin}">Back to home</a>
                </nav>
            </div>

            <div class="contract-details-container">
                <div class="active-contract-card">
                    <h3>House Information</h3>
                    <p>Year of Construction: <span th:text="${home.yearOfConstruction}"></span></p>
                </div>

                <div class="active-contract-card">
                    <h3>Maintenance Requests</h3>
                    <ul th:if="${!home.maintenances.isEmpty()}">
                        <li th:each="maintenance : ${home.maintenances}">
                            <p><strong>Description:</strong> <span th:text="${maintenance.description}"></span></p>
                            <p><strong>Date:</strong> <span th:text="${maintenance.date}"></span></p>
                            <p>
                                <strong>Urgency:</strong>
                                <span th:text="${maintenance.urgency}"
                                      th:class="${maintenance.urgency == 'high' ? 'high-urgency' : (maintenance.urgency == 'medium' ? 'medium-urgency' : 'low-urgency')}">
                                </span>
                            </p>
                        </li>
                    </ul>

                    <div th:if="${activeContract == null}" class="no-maintenances-message">
                        <p><span>There are no maintenance requests.</span></p>
                    </div>
                </div>

                <div class="active-contract-card">
                    <h3>Active Tenant</h3>
                    <div th:if="${activeContract != null}" class="contract-card">
                        <h4>Name: <span th:text="${activeContract.tenant.name}"></span></h4>
                        <p>Gender: <span th:text="${activeContract.tenant.gender}"></span></p>
                        <p>Email: <span th:text="${activeContract.tenant.email}"></span></p>
                        <p><strong>Description:</strong> <span th:text="${activeContract.tenant.description}"></span></p>
                        <p><strong>Start Date:</strong> <span th:text="${activeContract.startDate}"></span></p>
                        <p><strong>End Date:</strong> <span th:text="${activeContract.endDate}"></span></p>

                        <h4>Payments:</h4>
                        <ul>
                            <li th:each="payment : ${activeContract.payments}">
                                <div>
                                    <p><strong>Amount:</strong> <span th:text="${payment.amount}"></span> EUR</p>
                                    <p><strong>Payment Method:</strong> <span th:text="${payment.method}"></span></p>
                                    <p><strong>Transaction Id:</strong> <span th:text="${payment.transactionId}"></span></p>
                                    <p><strong>Date:</strong> <span th:text="${payment.date}"></span></p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div th:if="${activeContract == null}" class="no-active-contract-message">
                        <p><span>There is no active tenant.</span></p>
                    </div>
                </div>

                <div class="contract-history-card">
                    <h3>Contract History</h3>
                    <div th:each="contract : ${contracts}" class="contract-card">
                        <h4>Tenant: <span th:text="${contract.tenant.name}"></span></h4>
                        <p>Gender: <span th:text="${activeContract.tenant.gender}"></span></p>
                        <p>Email: <span th:text="${contract.tenant.email}"></span></p>
                        <p><strong>Description:</strong> <span th:text="${contract.tenant.description}"></span></p>
                        <div class="contract-dates">
                            <div class="date-item">
                                <p><strong>Start Date:</strong></p>
                                <span th:text="${contract.startDate}"></span>
                            </div>
                            <div class="date-item">
                                <p><strong>End Date:</strong></p>
                                <span th:text="${contract.endDate}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
