<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Index</title>
    </head>
    <body>
        <h1>Welcome</h1>

        <a href="https://accounts.google.com/o/oauth2/v2/auth?redirect_uri=http://localhost:8080/auth/callback&response_type=code&client_id=750906741361-ve7862ovm9mflgnar64542j99gohu25q.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile+openid&access_type=offline">
            Sign in with Google
        </a>

        <a th:href="@{/homes}">Check out our houses!</a>
    </body>
</html>
